/************************************************************
*		Style.css file for Pluto, a project organizer		*
*		developed by Yago Arroyo and Leonardo Lopes			*
*															*
*		Pluto's source-code is available at					*
*		http://github.com/yagoag/Pluto-project-organizer	*
*															*
************************************************************/

@font-face {
	font-family: "Rockwell";
	src: url(fonts/rockwell.ttf);
}

body {
	background: url(images/bg.png) repeat;
	text-align: center;
	margin: auto;
	padding: auto;
	font-family: "Calibri Light", "Calibri", Arial, sans-serif;
	font-size: 20px;
}

p {
	margin: 3px 0;
}

a {
	text-decoration: none;
	color: #2770b7;
}

a:hover {
	color: #4a6d8f;
}

input {
	border-style: none;
}

.title {
	font-family: "Rockwell", "Tahoma MS", Verdana, Arial, sans-serif;
	font-size: 54px;
	text-align: center;
	color: #454a4e;
	text-shadow: 1px 1px 1px #9ea7ae;
}

.textBox {
	height: 39px;
	width: 284px;
	box-shadow: 1px 1px 1px #999;
	padding: 0 10px;
	margin: 0 0 10px 0;
	color: #888;
}

.button {
	height: 39px;
	background: #7ea7c3;
	box-shadow: 1px 2px 1px #999;
	border-style: none;
	color: #FFF;
	margin: 10px 0 0 0;
}

.footer-link {
	font-size: 18px;
}

#message {
	text-align: left;
	border-radius: 3px;
	background: rgba(130, 188, 243, 0.5);
	border: 1px solid #999;
	padding: 35px 20px;
	margin: 20px 0 0 0;
}

#message br {
	padding: 10px 0;
}

#login-container {
	margin: 100px auto 0 auto;
	width: 360px;
}

#login-form {
	border-radius: 3px;
	background: rgba(130, 188, 243, 0.5);
	border: 1px solid #999;
	padding: 35px 0 35px 0;
	margin: 20px 0 0 0;
}

input {
	font-family: "Calibri Light", "Calibri", Arial, sans-serif;
	font-size: 20px;
	border-radius: 3px;
}

#login-form .button {
	width: 154px;
}

#header {
	width: 900px;
	margin: 0 auto;
	padding: 20px 0 0 0;
	text-align: left;
	color: #1c1d1e;
	font-family: "Rockwell", "Tahoma MS", Verdana, Arial, sans-serif;
}

#header .logo {
	float: left;
}

#header .userinfo {
	float: right;
	margin: 15px 0 0 0;
	text-align: right;
}

#header .userinfo .username {
	font-size: 32px;
}

#header .userinfo .logout {
	font-family: "Calibri Light", "Calibri", Arial, sans-serif;
	font-size: 14px;
}

#header .info {
	clear: both;
	margin: 0 0 0 30px;
	padding: 10px 0 10px 0;
	font-size: 18px;
}

#container {
	width: 650px;
	margin: auto;
	padding: 35px 0 0 0;
	text-align: left;
}

#container ul {
	list-style: url(images/tick.png);
	font-size: 24px;
}

#container li {
	padding: 8px 0 0 0;
}

#container li a {
	color: #3e4346;
}

#container li a:hover {
	color: #60676f;
}

#container .title {
	color: #68737b;
	font-size: 38px;
	float: left;
	text-align: left;
}

#container .button {
	min-width: 100px;
	float: right;
}

#chart-container {
    width: 840px;
    margin: 0 auto;
    text-align: left;
}

#chart-container ul {
	list-style: none;
}

#chart-container li {
	padding: 15px 50px 25px 15px;
	margin: 0 35px 0 0;
}

#todo, #doing, #done {
	margin: 10px 0 0 0;
    float: left;
    width: 280px;    
}

#todo li, #doing li, #done li {
    width: 280px;
    min-height: 192px;
}

#todo li {
	background: url(images/postit-red.png) bottom left no-repeat, url(images/postit-red-bg.png) repeat-y;
}

#doing li {
	background: url(images/postit-yellow.png) bottom left no-repeat, url(images/postit-yellow-bg.png) repeat-y;
}

#done li {
	background: url(images/postit-green.png) bottom left no-repeat, url(images/postit-green-bg.png) repeat-y;
}

#chart-container .title {
	font-family: "Rockwell", "Tahoma MS", Verdana, Arial, sans-serif;
	font-size: 32px;
	text-align: center;
}

#todo .title {
	color: #941332;
}

#doing .title {
	color: #d7cc24;
}

#done .title {
	color: #29c200;
}

#chart-container .new-item {
	width: 20px;
	height: 20px;
	padding: 5px 0 0 0;
}

#todo .new-item {
	background: url(images/button-new-todo.png);
}

#doing .new-item {
	background: url(images/button-new-doing.png);
}

#done .new-item {
	background: url(images/button-new-done.png);
}

.clear {
	clear: both;
}

.button-back {
	width: 16px;
	height: 16px;
	background: url(images/button-back.png) no-repeat;
}

.button-delete {
	width: 16px;
	height: 16px;
	background: url(images/button-delete.png) no-repeat;
}

.button-next {
	width: 16px;
	height: 16px;
	background: url(images/button-next.png) no-repeat;
}